/* Ein Element mit eineme bestimmt Attribut */
[href]{
    background-color: gray;
}

/* Ein Element mit einem bestimmten Attribut mit einem bestimmten Wert */
[id="dasIsteinAnker"]{
    display: block;
}
/* Ein Element mit einem bestimmten Attribut, dem in einem seiner Werte einen bestimmten Wert haben muss */
[class~="einBild"]
{
    height: 100px;
}
/* Ein Element mit einem bestimmten Attribut, das entweder genau einen bestimmten 
Wert hat oder mit einem bestimmten Wert beginnt, dem ein "-" folgt */
[class|="test"]
{
width: 300px;
}
/* Ein Element mit einem bestimmten Attribut, das mit einem bestimmten Wert beginnt */

[title^="Ich bin"]{
    border: 10px solid red;
}

/* Ein Element mit einem bestimmten Attribut, das mit einem bestimmten Wert endet */
[title$="Anker-Element"]{
    color: white;
}

/* Ein Element mit einem bestimmten Attribut, das einem bestimmten Wert enthält (egal wo)*/

[id*="Istein"]{
    text-decoration: none;
}
/* Ein Element mit einem bestimmten Attribut, das einem bestimmten Wert enthält (egal wo), das i ignoriert die Groß- und Kleinschreibung*/

[id*="anker" i]{
    font-weight: bold;
}