div{
    width: 200px;
    height: 200px;
    background-color: red;
    position: relative;
}


   @keyframes farbwechsel {
    /* 0%{ background-color: red;}
    17%{background-color: orange;}
    34%{background-color: yellow;}
    51%{background-color: green;}
    68%{background-color: lightblue;}
    85%{background-color:indigo}
    100%{background-color: violet;} */
   }

   @keyframes komplexeanimation {
    0%    {
           background-color: red; 
           top:0; 
           left: 0; 
           width: 200px; 
           height: 200px;
          } 
    25%   {
           background-color: orange; 
           top: 0; 
           left: 400px; 
           width: 100px; 
           height: 100px;}
    50%   {
           background-color: yellow; 
           top: 400px; 
           left: 400px; 
           width: 200px; 
           height: 200px;
          }
    75%   {
           background-color: green; 
           top: 400px; 
           left: 0; 
           width: 300px; 
           height: 300px;
          }
    100%  {
           background-color: lightblue; 
           top: 0; 
           left: 0; 
           width: 200px; 
           height: 200px;
          }
    
   }
/* animation: name duration timing-function delay interation-count direction fill-mode play-state */

   #anim{
    animation: komplexeanimation 5s ease-in-out 2s infinite alternate-reverse both paused;
    /* animation-delay: 1s;
    animation: komplexeanimation;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-play-state: paused;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both; */

 
   }
   body{
    width: 500px;
    height: 500px;
   }

   body:hover > #anim{
    animation-play-state: running;
   }
