.header{
    color: red;
    text-decoration: underline;
    
}

.main{
    width: 80%;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 2px solid black;
    padding: 10px;
}
.center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.color-red{
    color: red;
}

.sub{
    width: 80%;
    margin-bottom: 10px;
    border-radius: 40px;
    border: 2px solid green;
    padding: 10px;
    background-color: rgb(116, 136, 4);
    transition: ease all 1s;
}