/*Generelles*/

body{
    font-size: 16px;
    padding: 0;
    margin: 0;
    background-color: #242424;
    font-family:'Courier New', Courier, monospace
    
}
button{
    font-size: 2rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: gold;
}

li, p{
    padding-bottom: 1rem;
    font-size: 1.5rem;
    list-style: none;
    color: gold;
    font-family: 'Courier New', Courier, monospace
}
ul{
    display: inline;
    text-align: center;
    margin-left: auto ;
    margin-right: auto;
    padding: 0;
}

h1{
    padding: 0;
    margin: 0;
    font-size: 4rem;
    color: gold;
    font-family: 'Courier New', Courier, monospace
}
h2{
    font-size: 3rem;
    color: gold;
    font-family: 'Courier New', Courier, monospace
}
span{
    font-size: 1.5rem;
    color: gold;
}
button{
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid gold;
    border-radius: 5px;
}

.rahmen{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label > button{
    font-size: 3rem;
}

.label > div {
    padding-top: 1rem;
    display: block;
}

@media (max-width: 1000px) {
    .label > div > label {
        display: flex;
        flex-direction: row;
    }

}

@media (max-width: 620px) {
    h1{
        font-size: 3rem;
    }
    h2{
        font-size: 2rem;
    }
    p{
        font-size: 1rem;
    }
    
}

@media (max-width: 470px) {
    h1 {
            font-size: 2rem;
        }
    h2 {
        font-size: 1.5rem;
    }

}